# Ignore source files
src/**
test/**
tests/**
.vscode/**
tsconfig.json
tslint.json
README.md~
CHANGELOG.md~
*.map

# Ignore node_modules except production deps
node_modules/**
!node_modules/archiver/**
!node_modules/unzipper/**

# Ignore dev dependencies
**/node_modules/@types/**
**/node_modules/typescript/**
**/node_modules/.bin/**

# Ignore hidden files and git
.git/**
*.gitignore
*.gitattributes

# Ignore output folders
out/test/**
out/**/*.map
